*, html, body {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

/* Imagem de fundo e botão centralizado */
header#top {
  max-width: 100vw;
  background-color: #000;
}

nav#menu-top {
  height: 5vh;
  padding: 20px;
}

nav#menu-top h1 {
  color: #ee2c2d;
  font-family: Helvetica, sans-serif;
}

header#top section {
  padding: 5% 5% 0% 5%;
}

header#top section article h2 {
  color: #f69bc1;
  font-size: 5em;
}

header#top section article h2 span {
  color: #ee2c2d;
}

header#top section article p { 
  color: #f69bc1;
  font-size: 1.4em;
  line-height: 20px;
}

/* Seção com grid */
section#grid {
  background-color: #000000;
  padding: 5%;
}

section#grid .basketball {
  background: url('../img/basketball.jpg');
}

section#grid .skateboard {
  background: url('../img/skateboard.jpg');
}

section#grid .ballet {
  background: url('../img/ballet.jpg');
}

section#grid .block-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#grid .block-img div h2 {
  color: #ffffff;
  font-size: 1.8em;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

section#grid .block-img div p {
  color: #ffffff;
  font-size: 1.3em;
  text-align: center;
  font-family: serif;
  margin: 0;
}

/* Rodapé da página */
.center {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #ee2c2d;
  color: #ffffff;
  padding: 5%;
}

nav#menu-bottom ul {
  list-style: none;
}

nav#menu-bottom ul li a {
  color: #f69bc1;
  font-size: 1.8em;
  font-weight: bold;
}

nav#menu-bottom ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

div.follow h2 {
  font-size: 2em;
}

div.follow ul {
  list-style: none;
}

div.follow ul li {
  display: inline;
}

div.follow ul li img {
  width: 7%;
  margin: 5px;
}

.location h3 {
  font-size: 2em;
}

.location p {
  color: #f69bc1;
  font-size: 1.3em;
  font-weight: bold;
  width: 80%;
}