@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {font-family: "Druk Wide";
  src: url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.eot"); /* IE9*/
  src: url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.woff") format("woff"), /* chrome、firefox */
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.svg#Druk Wide Web Medium Regular") format("svg"); /* iOS 4.1- */
}

*, html, body {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

/* Vídeo de fundo e botão centralizado */
header#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#myVideo {
  max-width: 100%;
  z-index: 0;
  margin-bottom: -10px;
}

nav#menu-top {
  height: 5vh;
  padding: 20px;
  z-index: 1000;
}

nav#menu-top img#logo {
  width: 20%;
}

header#top section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 95vh;
}

div#btn-top a {
  color: #ee2c2d;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #ee2c2d;
  padding: 25px 45px;
  font-size: 1.5em;
  font-family: "Druk Wide";
  transition: .2s;
}

div#btn-top a:hover {
  border: 3px solid white;
  color: white;
}

/* Seção de somos */
section#are {
  background-color: #000000;
  padding: 5% 5% 0% 5%;
}

section#are article {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

section#are article h2 {
  color: #f69bc1;
  font-family: 'Druk Wide';
  font-size: 3em;
}

section#are article span {
  background-color: #ee2c2d;
  padding: 5px;
}

/* Seção com grid */
section#grid {
  background-color: #000000;
  padding: 5%;
}

.row {
  display: flex;
  justify-content: center;
}

section#grid .basketball {
  background: url('../img/basketball.jpg');
}

section#grid .skateboard {
  background: url('../img/skateboard.jpg');
}

section#grid .ballet {
  background: url('../img/ballet.jpg');
}

section#grid .block-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#grid .block-img div h2 {
  color: #ffffff;
  font-size: 1.8em;
  font-family: 'Druk Wide';
  margin: 0;
}

section#grid .block-img div p {
  color: #ffffff;
  font-size: 1.3em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* Rodapé da página */
.center {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #ee2c2d;
  color: #ffffff;
  padding: 5%;
  font-family: 'Druk Wide';
}

footer h2, h3 {
  text-transform: uppercase;
}

.logo-footer{
  width: 90%;
}

.selo-footer {
  margin-left: 40%;
  margin-top: -5%;
  width: 40%;
}

nav#menu-bottom ul {
  list-style: none;
}

nav#menu-bottom ul li a {
  color: #f69bc1;
  font-size: 1.4em;
}

nav#menu-bottom ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

div.follow h2 {
  font-size: 1.4em;
  margin-top: 50px;
}

div.follow ul {
  list-style: none;
}

div.follow ul li {
  display: inline;
}

div.follow ul li img {
  width: 8%;
  margin: 5px;
  transition: .3s;
}

div.follow ul li img:hover {
  transform: scale(1.3);
}

.location h3 {
  font-size: 1.4em;
}

.location p {
  color: #f69bc1;
  font-size: .9em;
  width: 80%;
  margin-bottom: 50px;
}

.copyright {
  background-color: #000000;
  max-width: 100vw;
  padding: 1% 5% 1% 5%;
  font-family: 'Druk Wide';
  color: rgb(107, 107, 107);
  font-size: .8em;
}

.copyright a:hover {
  color: white;
}

.color {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.position {
  text-align: right;
}


/* Media queries */
@media screen and (max-width: 768px) {
  header#top {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background: url('../img/graffiti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #myVideo {
    display: none;
  }


  nav#menu-top img#logo {
    width: 50%;
  }
  
  /* Seção de somos */
  section#are {
    padding: 5%;
  }
  
  section#are article {
    width: 100%;
  }

  section#are article h2 {
    font-size: 1.8em;
  }

  /* Rodapé da página */
  nav#menu-bottom {
    margin-bottom: 30px;
  }

  div.follow ul li img {
    width: 10%;
  }
    
  .location p {
    width: 100%;
  }
     
  .copyright {
    padding: 5%;
    text-align: center;
  }

  .position {
    text-align: center;
  }
}