@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {font-family: "Druk Wide";
  src: url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.eot"); /* IE9*/
  src: url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.woff") format("woff"), /* chrome、firefox */
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/druk-wide/5796fb1b44e3c87b7f3d5ff57994f7b3.svg#Druk Wide Web Medium Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Glypha LT Light";
  src: url("../fonts/glypha/25131353d602372b572f01896b905864.eot"); /* IE9*/
  src: url("../fonts/glypha/25131353d602372b572f01896b905864.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/glypha/25131353d602372b572f01896b905864.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/glypha/25131353d602372b572f01896b905864.woff") format("woff"), /* chrome、firefox */
  url("../fonts/glypha/25131353d602372b572f01896b905864.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/glypha/25131353d602372b572f01896b905864.svg#Glypha LT Std 45 Light") format("svg"); /* iOS 4.1- */
}

*, html, body {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

/* Vídeo de fundo e botão centralizado */
header#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

div#myVideo {
  max-width: 100%;
  margin-bottom: -30px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div#myVideo section.video-content {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: auto;
}

div#myVideo section.video-content div.btn-top a {
  color: #ee2c2d;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #ee2c2d;
  padding: 40px 90px;
  font-size: 2.3em;
  font-family: "Druk Wide";
  transition: .2s;
}

div#myVideo section.video-content div.btn-top a:hover {
  border: 3px solid white;
  color: white;
}

nav#menu-top {
  height: 10vh;
  padding: 20px;
  z-index: 1;
}

nav#menu-top img#logo {
  width: 25%;
}

header#top section {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.btn-mobile a {
  display: none;
}

/* Seção de somos */
section#are {
  background-color: #000000;
  padding-top: 200px;
  padding-bottom: 200px;
}

section#are article h2 {
  color: #f69bc1;
  font-family: 'Druk Wide';
  font-size: 4em;
}

section#are article span {
  background-color: #ee2c2d;
}

/* Seção com grid */
section#grid {
  background-color: #000000;
  padding-bottom: 100px;
}

.row {
  display: flex;
  justify-content: center;
}

section#grid .basketball {
  background: url('../img/basketball.jpg');
}

section#grid .skateboard {
  background: url('../img/skateboard.jpg');
}

section#grid .ballet {
  background: url('../img/ballet.jpg');
}

section#grid .block-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#grid .block-img div h2 {
  color: #ffffff;
  font-size: 2.5em;
  font-family: 'Druk Wide';
  margin: 0;
}

section#grid .block-img div p {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  font-family: 'Glypha LT Light';
  margin: 0;
}

/* Rodapé da página */
.center {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #ee2c2d;
  color: #ffffff;
  padding-top: 5%;
  font-family: 'Druk Wide';
}

.padding-b {
  padding-bottom: 5%;
}

footer h3 {
  text-transform: uppercase;
}

.logo-footer{
  width: 90%;
}

.selo-footer {
  margin-left: 40%;
  margin-top: -5%;
  width: 40%;
}

nav#menu-bottom ul {
  list-style: none;
}

nav#menu-bottom ul li a {
  color: #f69bc1;
  font-size: 1.8em;
}

nav#menu-bottom ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

div.follow h2 {
  font-size: 1.8em;
  margin-top: 50px;
}

div.follow ul {
  list-style: none;
}

div.follow ul li {
  display: inline;
}

div.follow ul li img {
  width: 9%;
  margin-left: 20px;
  transition: .3s;
}

div.follow ul li img:hover {
  transform: scale(1.3);
}

.location h3 {
  font-size: 1em;
  margin-bottom: 20px;
}

.location p {
  color: #f69bc1;
  font-size: 1em;
  margin-bottom: 20px;
}

.copyright {
  background-color: #000000;
  max-width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Druk Wide';
  color: rgb(107, 107, 107);
  font-size: 1em;
}

.copyright a:hover {
  color: white;
}

.color {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.position {
  text-align: right;
}

/* Estilização do modal de newsletter */
div.modal-content {
  background-color: #000;
  border-radius: initial;
  padding: 10%;
  font-family: 'Druk Wide';
}

button.close {
  background-color: transparent;
  color: white;
  font-size: 5em;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
}

button.close:hover {
  color: white;
}

div.modal-content h2 {
  font-size: 3.5em;
  color: #ee2c2d;
}

div.modal-content h2 span {
  background-color: #f69bc1;
  color: white;
  padding: 10px;
}

div.modal-content p {
  color: #f69bc1;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.modal-content input {
  padding: 10px 20px;
  color: #c3c3c3;
  font-size: 1.3em;
}

div.modal-content input::placeholder {
  color: #c3c3c3;
}

form button {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #f69bc1;
  font-size: 1.3em;
}

div.modal-content img {
  width: 20%;
  position: absolute;
  top: 190px;
  right: 0;
} 


/* Media queries */
@media screen and (max-width: 768px) {
  header#top {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background: url('../img/graffiti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #myVideo, .video-container video {
    display: none;
  }

  div.btn-mobile a {
    display: block;
    color: #ee2c2d;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #ee2c2d;
    padding: 25px 45px;
    font-size: 1.5em;
    font-family: "Druk Wide";
    transition: .2s;
    margin-top: 70%;
  }

  nav#menu-top {
    padding-top: 40px;
  }

  nav#menu-top img#logo {
    width: 100%;
  }
  
  /* Seção de somos */
  section#are {
    padding-top: 30%;
    padding-bottom: 30%;
  }

  section#are article h2 {
    font-size: 2em;
  }

  /* Rodapé da página */
  nav#menu-bottom {
    margin-bottom: 30px;
  }

  div.follow ul li img {
    width: 10%;
  }

  .location h3 {
    margin-top: 50px;
  }
     
  .copyright {
    text-align: center;
  }

  .position {
    text-align: center;
  }


  /* Estilização do modal de newsletter */
  div.modal-content {
    padding: 1%;
  }

  button.close {
    font-size: 3em;
    margin-right: 10px;
  }

  div.modal-content h2 {
    margin-top: 30px;
    font-size: 2em;
  }

  div.modal-content h2 span {
    padding: 5px;
  }

  div.modal-content input {
    font-size: 1em;
    text-align: center;
  }

  div.modal-content img {
    width: 25%;
    top: 150px;
  } 
}